
# .v4p backup files
*~.xml

#VS Code temp folders
.vs

# Dynamic plugins .dll
!bin/
!obj/
!release/
!debug/

#NuGet
packages
!packages/repositories.config
!bin
!obj
Source/BoardGameTracker/BGT.Domain/obj/Debug/netcoreapp3.1/BGT.Domain.AssemblyInfo.cs
Source/BoardGameTracker/BGT.Domain/obj/Debug/netcoreapp3.1/BGT.Domain.AssemblyInfoInputs.cache
