# .v4p backup files
*~.xml

#VS Code temp folders
.vs

# Dynamic plugins .dll
!bin/
!obj/
!release/
!debug/

#NuGet
packages
!packages/repositories.config
!bin/
!obj/
/Source/BoardGameTracker/BGT.Infrastructure/obj
/Source/BoardGameTracker/BGT.Domain/obj
/Source/BoardGameTracker/BGT.Application/obj
/Source/BoardGameTracker/BGT.Domain/obj
/Source/BoardGameTracker/BGT.Infrastructure/obj/project.nuget.cache
/Source/BoardGameTracker/BGT.Infrastructure/obj/project.assets.json
/Source/BoardGameTracker/BGT.Infrastructure/obj/BGT.Infrastructure.csproj.nuget.g.targets
/Source/BoardGameTracker/BGT.Infrastructure/obj/BGT.Infrastructure.csproj.nuget.g.props
/Source/BoardGameTracker/BGT.Infrastructure/obj/BGT.Infrastructure.csproj.nuget.dgspec.json
/Source/BoardGameTracker/BGT.Infrastructure/obj
/Source/BoardGameTracker/BGT.Domain/obj/project.nuget.cache
/Source/BoardGameTracker/BGT.Domain/obj/project.assets.json
/Source/BoardGameTracker/BGT.Domain/obj/BGT.Domain.csproj.nuget.g.targets
/Source/BoardGameTracker/BGT.Domain/obj/BGT.Domain.csproj.nuget.g.props
/Source/BoardGameTracker/BGT.Domain/obj/BGT.Domain.csproj.nuget.dgspec.json
/Source/BoardGameTracker/BGT.Domain/obj
/Source/BoardGameTracker/BGT.Application/obj/project.nuget.cache
/Source/BoardGameTracker/BGT.Application/obj/project.assets.json
/Source/BoardGameTracker/BGT.Application/obj/BGT.Application.csproj.nuget.g.targets
/Source/BoardGameTracker/BGT.Application/obj/BGT.Application.csproj.nuget.g.props
/Source/BoardGameTracker/BGT.Application/obj/BGT.Application.csproj.nuget.dgspec.json
/Source/BoardGameTracker/BGT.Application/obj
